@import '../../../pages/ProfileCard/ProfileCard.scss';

.card {
  background: $color-neutral-white;
  width: 350px;
  min-height: 374px;
  box-shadow: 0px 50px 100px -20px rgba(8, 70, 94, 0.504835);
  border-radius: 15px;
  position: relative;
}

@media screen and (max-width: 375px) {
  .card {
    width: 91%;
  }
}

.card__bg-pattern {
  border-radius: 15px 15px 0 0;
}

.card__avatar-img {
  position: absolute;
  width: 96px;
  height: 96px;
  left: calc(50% - 96px / 2);
  top: calc(50% - 96px / 2 - 47px);
  border-radius: 100px;
  border: 5px solid $color-neutral-white;
}

.card__details {
  position: absolute;
  left: 30.86%;
  right: 30.57%;
  top: 56.68%;
  bottom: 37.17%;
}

.card__details-name {
  font-weight: 700;
}

.card__details-age {
  color: #6b7082;
  font-weight: normal;
  padding-left: 0.25em;
}

.card__details-location {
  font-size: 0.875rem;
  font-weight: normal;
  text-align: center;
  color: #6b7082;
}

.card__divider {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 76.2%;
  bottom: 23.53%;
  background: #e8e9ec;
}

.card__stats {
  position: absolute;
  width: 249px;
  height: 40px;
  left: 47px;
  top: 310px;
  display: flex;
  justify-content: space-between;
}

.card__stats-group {
  text-align: center;
}

.card__stats-number {
  font-weight: 700;
  color: $color-brand-very-dark-desaturated-blue;
}

.card__stats-label {
  font-size: 0.625rem;
  color: $color-brand-dark-grayish-blue;
}
